*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*body{
    overflow: hidden;
    
    
}*/
:root{
    --cell-size:100px;
    --size:calc(var(--cell-size) * .9);
}
section{
    
    max-height:100vh;
    background:linear-gradient(to bottom ,#f1f4f9,#dff1ff);
    /*display:flex;
  justify-content:center;
  align-items:center;*/
    
}
section .color{
    position:absolute;
    filter:blur(150px);
}
section .color:nth-child(1){
    width:600px;
    height:600px;
    background:#ff359b;
    top:-350px;
    

}
section .color:nth-child(2){
    width:500px;
    height:500px;
    background:yellow;
    bottom:-150px;
    left:100px;

}
section .color:nth-child(3){
    width:300px;
    height:300px;
    background:#00d2ff;
    bottom:50px;
    right:100px;
   

}
.container{
    position:fixed;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    
    width:400px;
    min-height:400px;
    background:rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);  
    box-shadow: 0 25px 45px rgba(0,0,0,0.1 ); 
    border:1px solid rgba(255,255,255,0.5) ; 
    border-right: 1px solid rgba(255,255,255,0.2); 
    border-bottom: 1px solid rgba(255,255,255,0.2); 
    
    border-radius:5px;
    display:grid;
    justify-content:center;
    align-content:center;
    align-items:center;
    grid-template-columns: repeat(3,auto);
    
}

.cell{
    width:var(--cell-size);
    position:relative;
    height:var(--cell-size);
    border:2px solid #fff;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
.cell.x,.cell.o{
cursor:not-allowed;
}

.cell:first-child,.cell:nth-child(2),.cell:nth-child(3){
    border-top:none;
}
.cell:nth-child(3n+1){
    border-left:none;
}
.cell:nth-child(3n+3){
    border-right:none;
}
.cell:last-child,.cell:nth-child(7),.cell:nth-child(8){
border-bottom:none;
}

.cell.x::before,.cell.x::after{
    background-color:#ff359b;
}
.cell.o::before{
    background-color:#00d2ff;
}
.container.x .cell:not(.x):not(.o):hover::before,.container.x .cell:not(.x):not(.o):hover::after{
    background-color:#ce8aac;
}
.container.o .cell:not(.x):not(.o):hover:before{
    background-color:#b5d3da;
}


.cell.x::before,.cell.x::after,.container.x .cell:not(.x):not(.o):hover::before,.container.x .cell:not(.x):not(.o):hover::after{
    content:'';
    position:absolute;
    width:calc(var(--size) * .15);
    height:var(--size);
  
    
}

.cell.x::before,.container.x .cell:not(.x):not(.o):hover::before{
    transform:rotate(45deg);}
.cell.x::after,.container.x .cell:not(.x):not(.o):hover::after{
    transform:rotate(-45deg);
}
.cell.o::before,.cell.o::after,.container.o .cell:not(.x):not(.o):hover::before,
.container.o .cell:not(.x):not(.o):hover::after{
    content:'';
    position:absolute;
    border-radius:50%;
    
    
}
.cell.o::before,.container.o .cell:not(.x):not(.o):hover::before{
   
    width:var(--size) ;
    height:var(--size);
    
    
    
}
.cell.o::after,.container.o .cell:not(.x):not(.o):hover::after{
    width:calc(var(--size)* 0.7) ;
    height:calc(var(--size)*0.7);
    background-color:rgb(209, 185, 185);

}
.message{
    position:fixed;
    display:none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    /*background-color:rgba(0,0,0,0.9);*/
    
    justify-content: center;
    align-items:center;
    color:white;
    font-size:5rem;
    flex-direction:column;
}
.message button{
    font-size:3rem;
    background-color:transparent;
    border:1px solid #00d2ff;
    padding:.25em .5em;
    border-radius:5px;
    color:#ff359b;

}
.message button:hover{
    background-color:#ff359b;
    color:#00d2ff;
    border-color:yellow;
}
.message.show{
    display:flex;
}



 



